xspec/test/do-nothing.sch

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema queryBinding="xslt2" xmlns:sch="http://purl.oclc.org/dsdl/schematron">
	<!-- SchXslt 1.6.2 seems to require at least one sch:pattern to exist -->
	<sch:pattern id="Dummy-pattern-for-SchXslt___DO-NOT-USE-ME">
		<!-- SchXslt 967c828 seems to require at least one sch:rule to exist -->
		<sch:rule context="Dummy-rule-for-SchXslt___DO-NOT-USE-ME" />
	</sch:pattern>
</sch:schema>
